@import url(reset.css);
@import url(header.css);
@import url(home.css);
@import url(nostalgiaTransition.css);

.noise-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }  

@font-face {
    font-family: 'Kiona';
    src: url('../fonts/Kiona-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kiona-bold';
    src: url('../fonts/Kiona-Bold.ttf') format('truetype');
}