.nostalgia {
    height: 100vh;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: black;
}

.nostalgia-container {
    height: 500vh; 
    width: 100%;
    position: relative;
}


.nostalgia-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-shadow: 0 0 100px 100px black;
}

.nostalgia-layer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.1s ease-out;
    will-change: transform;
}

.nostalgia-background-layer {
    z-index: 1;
}

.nostalgia-newbg-layer {
    z-index: 2;
}

.nostalgia-foreground-layer {
    z-index: 3;
}

.nostalgia-content {
    position: relative;
    z-index: 4;
    width: 100%;
}

.nostalgia-title {
    font-family: 'Kiona-bold';
    width: 100%;
}

.nostalgia-title h1 {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
}

.nostalgia-title h1 canvas {
    width: 50%;
}

.debug-indicator {
    display: block; 
}

.eye{
    box-shadow: 0 0 100px 100px black;
}